p {
    font-size: 24px;
}
.btn-primary {
    background-color: blue;
    color: white;
}
#gen1 {
    border: 2px solid black;
}
* {
    box-sizing: border-box;
    margin: 0;
}
#main-title {
    color: blue;
}
.title {
    color: green;
}
h1 {
    color: black;
}